<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}   
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block head %}{% endblock %}
</head>
<body>
    <!-- Navbar -->
    <div class="nav">
        <div id="home-link"><a href="{% url 'home' %}">GlobalBlog</a></div>
        {% if 'user' in request.session %}
            <div id="post-link"><a href="{% url 'post' %}">Post</a></div>
        {% endif %}
        {% if 'user' not in request.session %}
            <div id="login-link"><a href="{% url 'login' %}">Login</a></div>
        {% else %}
            {% for user in users %}
                {% if user.username == request.session.user %}
                    <a href="{% url 'settings' %}" id="profile">
                        <img src="{% static 'images/'|add:user.picture %}" style="border-radius: 50%" width="40x" />
                    </a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <!-- Main -->
    {% block body %}
    {% endblock %}

    <!-- Footer -->
    <div class="footer">
        <div class="social">
            <a href="https://www.youtube.com/channel/UCg7O8PQNdHRQOflj6gO2TDA" target="_blank">
                <div class="fab fa-youtube"></div>
            </a>
            <a href="https://discord.gg/GVCGhZW4" target="_blank">
                <div class="fab fa-discord"></div>
            </a>
        </div>
        <div class="copyright">&#169; Potato Inc.</div>
    </div>
</body>
</html>