{% extends 'base.html' %}

{% block head %}
<title>Reset Password</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js" integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>
<script type="text/javascript">
    (function() {
        emailjs.init('user_c2JX6RarvofGE2IoEMmVG');
    })();
</script>
<script type="text/javascript">
    window.onload = function() {

        const encrypt = str => {

            const signature = ["@", "."].concat(Array.from(Array(52)).map((e, i) => i + 65 + (i >= 26 ? 6 : 0)).map(x => String.fromCharCode(x)).concat(Array.from(Array(10)).map((e, i) => i)));

            let encrypted_string = "";

            for (let i = 0; i < str.length; i++)
                encrypted_string += signature[signature.indexOf(str[i]) + 5] + signature[signature.indexOf(str[i]) + 10]

            return encrypted_string;

        }
        
        let tempEmails = document.getElementById('emails').innerHTML;

        const emails = [];
        for (const email of eval(tempEmails)) emails.push(email);

        document.getElementById('reset-form').addEventListener('submit', function(event) {

            const emVal = this.email.value;

            this.reset_password.value = "Loading...";

            if (!emails.includes(emVal)) window.location.href = '/sent/';

            event.preventDefault();

            let message = document.createElement("input");
            message.type = "hidden";
            message.name = "message";
            message.value = `Click on this link to verify your email : http://127.0.0.1:5000/emailVerification/${encrypt(emVal)}/${emVal}`;
            
            this.appendChild(message);

            emailjs.sendForm('service_kzvkwfq', 'template_y8fdmud', this)
                .then(() => {
                    console.log('Email Sent!!');
                    window.location.href = '/sent';
                }, e => console.log('Email Failed to Send', e));
        });
    }
</script>
{% endblock %}

{% block body %}

<div class="main-container">
    <div class="container">
        <form method="post" id="reset-form">
            {% csrf_token %}
            <p style="display: none" id="emails">{{ emails }}</p>
            <h1>Reset Password</h1>
            <input type="hidden" name="contact_number">
            <input type="text" name="email" id="email" placeholder="Enter Email" required />
            <input type="submit" name="reset_password" id="reset-password" value="Reset Password" />
        </form>
    </div>
</div>

{% endblock %}